<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Image url</th>
      <th>Maker</th>
      <th>Title</th>
      <th>Pattern</th>
      <th>Color</th>
      <th>Dimensions</th>
      <th>Price</th>
      <th>YOP</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= image_tag(product.image_url, class: 'list_image') %></td>
        <td><%= product.maker %></td>
        <td><%= product.title %></td>
        <td><%= product.pattern %></td>
        <td><%= product.color %></td>
        <td><%= product.dimensions %></td>
        <td><%= product.price %></td>
        <td><%= product.yop %></td>
        <td class='list_actions'>
          <%= link_to 'Show', product %></br>
          <%= link_to 'Edit', edit_product_path(product) %></br>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
